// ======== MIXINS ========

@mixin flex($justify:center,$gap:15px) {
    display: flex;
    align-items: center;
    justify-content: $justify;
    gap:$gap;
}

@mixin section-category{
    letter-spacing: 0.3em;
    font-size: 12px;
    color: $active-text;
    font-weight: bold;
    cursor: default;
}

@mixin section-title {
    font-size: 3rem;
    line-height: 1.2;
    color: $primary-text;
}