@import './mixins';
@import './variables';

body {
    font-family: 'Playfair Display';
}

// ======STYLING THE HEADER =========
.main__header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: $background-primary;
    width: 100%;
}

.header__container {
    max-width: 1140px;
    padding: 26px 64px;
    @include flex($justify:space-between,$gap:0);
    margin: 0 auto;
}

.nav__list {
    @include flex($gap:24px);
}

.logo__title {
    color: $primary-text;
    font-size: 32px;
}

.nav__link {
    color: $primary-text;
    font-size: 14px;
    transition: 0.3s;
    letter-spacing: 0.1em;
}

.nav__link--active {
    color: $active-text;
    text-decoration: underline;
    text-underline-offset: 7px;
}

.nav__link:hover, .logo__title:hover {
    color: $active-text;
}

.booking__btn {
    border: none;
    background-color: $primary-text;
    color: white;
    padding: 12px 32px;
    cursor: pointer;
    letter-spacing: 0.1em;
    font-weight: bold;
    transition: 0.3s;
}
.booking__btn:hover {
    background-color: $active-text;
}

.burger__menu {
    display: none;
    flex-direction: column;
    gap: 4px;
}
.burger__menu span {
    height: 3px;
    width: 24px;
    background-color: $active-text;
}


// =========STYLING THE HERO SECTION ====================

.hero__section {
    background-image: url("../images/hero-background.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
}
.hero__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.hero__title {
    font-size: 64px;
    color: $primary-text;
    line-height: 1.25;
    letter-spacing: -0.02em;
    margin-bottom: 1.5rem;
    font-weight: bold;
}
.hero__desc {
    color: $background-primary;
    font-size: 18px;
    letter-spacing: 0.1em;

}

//=========== RESPONSIVE ======



@media (max-width:970px){

    // ========= HEADER RESPOSNIVE ======
    .logo__title {
        font-size: 24px;
    }
    .nav__list {
        gap: 10px;

    }
    .nav__link {
        font-size: 13px;
    }
    .booking__btn {
        padding: 8px 24px;
    }
}

@media (max-width:834px){
    // ============ HEADER RESPONSIVE ============
    .logo__title{
        font-size: 32px;
    }
    .navbar {
        position: absolute; 
        top: 100%; 
        left: -100%; 
        width: 100%; 
        background: $background-primary; 
        transition: 0.3s; 
    }
    .navbar.active { 
        left: 0; 
    }
    .nav__list { 
        flex-direction: column; 
        padding: 30px; 
        gap: 20px; 
        text-align: center; 
    }
    .header__container {
        justify-content: space-around;
        padding: 13px 20px;
    }
    .burger__menu {
        display: flex;
    }
    .booking__btn{
        display: none;
    }

    // ======= HERO SECTION RESPONSIVE =============
    .hero__title {
        font-size: 44px;
    }
    

@media (max-width: 480px){
    // ======HEADER REPOSNIVE =========
    .logo__title{
        font-size: 26px;
    }

    // =======HERO SECTION===========
    .hero__title {
        font-size: 34px;
    }
    .hero__desc {
        font-size: 16px;
        letter-spacing: 0;
    }
}
}

@media (max-width:320px){
    // =======HEADER RESPONSIVE =====
    .logo__title {
        font-size: 22px;
    }
    .header__container {
        padding: 13px 2px;
    }

    // =====HERO SECTION=========
    .hero__title {
        font-size: 30px;
    }
}
