body {
  font-family: "Playfair Display";
}

.main__header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgb(249, 248, 246);
  width: 100%;
}

.header__container {
  max-width: 1140px;
  padding: 26px 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  margin: 0 auto;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.logo__title {
  color: #1C1C1A;
  font-size: 32px;
  transition: 0.3s;
}

.nav__link {
  color: #1C1C1A;
  font-size: 14px;
  transition: 0.3s;
  letter-spacing: 0.1em;
}

.nav__link--active {
  color: rgb(163, 132, 77);
  text-decoration: underline;
  text-underline-offset: 7px;
}

.nav__link:hover, .logo__title:hover {
  color: rgb(163, 132, 77);
}

.booking__btn {
  border: none;
  background-color: #1C1C1A;
  color: white;
  padding: 12px 32px;
  cursor: pointer;
  letter-spacing: 0.1em;
  font-weight: bold;
  transition: 0.3s;
}

.booking__btn:hover {
  background-color: rgb(163, 132, 77);
}

.burger__menu {
  display: none;
  flex-direction: column;
  gap: 4px;
}

.burger__menu span {
  height: 3px;
  width: 24px;
  background-color: rgb(163, 132, 77);
}

.hero__section {
  background-image: url("../images/hero-background.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative;
}

.hero__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero__title {
  font-size: 64px;
  color: #1C1C1A;
  line-height: 1.25;
  letter-spacing: -0.02em;
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.hero__desc {
  color: rgb(249, 248, 246);
  font-size: 18px;
  letter-spacing: 0.1em;
  font-style: italic;
}

.about__section {
  background-color: rgb(249, 248, 246);
  width: 100%;
  padding: 8rem 4rem;
}

.about__image {
  min-height: 700px;
  max-width: 400px;
  position: relative;
}

.about__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about__container {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.about__description {
  display: flex;
  flex-direction: column;
  max-width: 528px;
  text-align: left;
  gap: 2rem;
}

.about__description span {
  letter-spacing: 0.3em;
  font-size: 12px;
  color: rgb(163, 132, 77);
  font-weight: bold;
}

.about__description h2 {
  font-size: 3rem;
  line-height: 1.2;
  color: #1C1C1A;
}

.about__description p {
  line-height: 1.625;
  color: rgb(68, 71, 74);
  font-size: 18px;
}

.about--italic {
  font-style: italic;
}

.about__description a {
  color: rgb(163, 132, 77);
  text-decoration: underline;
  text-underline-offset: 5px;
  letter-spacing: 0.1em;
  font-weight: 600;
  font-size: 12px;
}

.about__image__decor {
  display: block;
  position: absolute;
  left: -2.5rem;
  bottom: 1rem;
  width: 12rem;
  height: 12rem;
  border: 1px solid;
  animation: boxAnimation 6s infinite ease;
}

@keyframes boxAnimation {
  0% {
    border-color: rgb(148, 19, 19);
  }
  25% {
    border-color: rgb(163, 132, 77);
  }
  50% {
    border-color: rgb(12, 12, 86);
  }
  100% {
    border-color: rgb(4, 89, 4);
  }
}
.rooms__section {
  width: 100%;
  background-color: rgb(240, 237, 233, var(--tw-bg-opacity, 1));
  padding: 8rem 4rem;
}

.rooms__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  flex-direction: column;
}

.rooms__title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}

.rooms__title span {
  letter-spacing: 0.3em;
  font-size: 12px;
  color: rgb(163, 132, 77);
  font-weight: bold;
}

.rooms__title h2 {
  font-size: 3rem;
  line-height: 1.2;
  color: #1C1C1A;
}

.room__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.room__card {
  max-width: 265px;
  min-height: 468px;
  transition: 0.3s;
  justify-content: space-between;
}

.room__image {
  width: 265px;
  height: 265px;
}

.room__image img {
  width: 100%;
  height: 100%;
}

.room__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  min-height: 203px;
}

.room__desc__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.room__desc__text h3 {
  color: #1C1C1A;
  font-size: 30px;
  line-height: 1.3;
}

.room__desc__text span {
  color: rgb(68, 71, 74);
}

.room__btn {
  cursor: pointer;
  max-width: 88px;
  padding: 0.75rem 1.5rem;
  border: 1px solid rgb(117, 119, 122);
  transition: 0.3s;
}

.room__card:hover {
  transform: scale(1.1);
  background-color: rgb(249, 248, 246);
}

.room__btn:hover {
  background-color: #1C1C1A;
  color: white;
}

.accommodation__section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  background-color: rgb(249, 248, 246);
  padding: 8rem 4rem;
}

.accommodation__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  flex-direction: column;
}

.accomm__title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
}

.accomm__title h3 {
  font-size: 48px;
  line-height: 1.2;
  color: #1C1C1A;
}

.accomm__title span {
  letter-spacing: 0.3em;
  font-size: 12px;
  color: rgb(163, 132, 77);
  font-weight: bold;
}

.accomm__cards {
  display: grid;
  grid-template-columns: repeat(4, 208px);
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.accomm__card {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
  height: -moz-max-content;
  height: max-content;
}

.accomm__icon {
  padding: 2rem;
  background-color: rgb(240, 237, 233, var(--tw-bg-opacity, 1));
  border-radius: 0.75rem;
  color: rgb(163, 132, 77);
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.accomm__desc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
  padding: 0 1rem;
  color: rgb(68, 71, 74);
  line-height: 1.4rem;
}

.accomm__desc h4 {
  font-size: 1.5rem;
  color: #1C1C1A;
}

.footer {
  background-color: rgb(240, 237, 233, var(--tw-bg-opacity, 1));
  padding: 3rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.footer__card {
  display: flex;
  flex-direction: column;
}

.footer__list {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.footer__link {
  color: #1C1C1A;
  transition: 0.3s;
}

.footer__link:hover {
  color: rgb(163, 132, 77);
}

.footer__logo {
  line-height: 1.5;
  color: rgb(163, 132, 77);
}

.list__title {
  color: #1C1C1A;
  font-weight: bold;
  cursor: default;
}

@media (max-width: 1140px) {
  .about__description h2 {
    font-size: 2.8rem;
  }
  .about__description p {
    font-size: 1rem;
  }
  .accomm__cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
  }
}
@media (max-width: 970px) {
  .logo__title {
    font-size: 24px;
  }
  .nav__list {
    gap: 10px;
  }
  .nav__link {
    font-size: 13px;
  }
  .booking__btn {
    padding: 8px 24px;
  }
  .about__description h2 {
    font-size: 2.4rem;
  }
  .about__description p {
    font-size: 0.8rem;
  }
  .about__image__decor {
    display: none;
  }
}
@media (max-width: 834px) {
  .logo__title {
    font-size: 32px;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    background: rgb(249, 248, 246);
    transition: 0.3s;
  }
  .navbar.active {
    left: 0;
  }
  .nav__list {
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    text-align: center;
  }
  .header__container {
    justify-content: space-around;
    padding: 13px 20px;
  }
  .burger__menu {
    display: flex;
  }
  .booking__btn {
    display: none;
  }
  .hero__title {
    font-size: 44px;
  }
  .about__container {
    margin: 0 auto;
    flex-direction: column;
    gap: 20px;
  }
  .about__description {
    text-align: center;
    margin: auto;
  }
  .about__image {
    margin: auto;
  }
  .rooms__title {
    text-align: center;
  }
  .room__cards {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
  .accomm__title h3 {
    font-size: 2rem;
  }
  .footer__container {
    gap: 4rem;
  }
  .footer__logo {
    font-size: 24px;
  }
  .footer__list__item {
    font-size: 14px;
  }
}
@media (max-width: 480px) {
  .logo__title {
    font-size: 26px;
  }
  .hero__title {
    font-size: 34px;
  }
  .hero__desc {
    font-size: 16px;
    letter-spacing: 0;
  }
  .about__description h2 {
    font-size: 2rem;
  }
  .rooms__title h2 {
    font-size: 2rem;
  }
  .accomm__cards {
    grid-template-columns: 1fr;
  }
  .footer__container {
    flex-direction: column;
  }
  .footer__title {
    text-align: center;
  }
}
@media (max-width: 320px) {
  .logo__title {
    font-size: 22px;
  }
  .header__container {
    padding: 13px 2px;
  }
  .hero__title {
    font-size: 30px;
  }
  .about__description h2 {
    font-size: 1.3rem;
  }
  .about__description p {
    font-size: 0.6rem;
  }
  .about__description span {
    font-size: 0.6rem;
  }
  .about__description a {
    font-size: 0.6rem;
  }
}/*# sourceMappingURL=main.css.map */