body {
  font-family: "Playfair Display";
}

.scroll__btn {
  position: fixed;
  bottom: 30px;
  right: 30px;
  border-radius: 50%;
  padding: 1rem;
  border: none;
  background-color: rgb(163, 132, 77);
  color: rgb(249, 248, 246);
  font-size: 1.2rem;
  cursor: pointer;
  z-index: 99;
  display: none;
  animation: bounce;
  animation-duration: 2s;
}

.main__header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: rgb(249, 248, 246);
  width: 100%;
}

.header__container {
  max-width: 1140px;
  padding: 26px 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0;
  margin: 0 auto;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.logo__title {
  color: #1C1C1A;
  font-size: 32px;
  transition: 0.3s;
}

.nav__link {
  color: #1C1C1A;
  font-size: 14px;
  transition: 0.3s;
  letter-spacing: 0.1em;
}

.nav__link--active {
  color: rgb(163, 132, 77);
  text-decoration: underline;
  text-underline-offset: 7px;
}

.nav__link:hover, .logo__title:hover {
  color: rgb(163, 132, 77);
}

.booking__btn {
  border: none;
  background-color: #1C1C1A;
  color: white;
  padding: 12px 32px;
  cursor: pointer;
  letter-spacing: 0.1em;
  font-weight: bold;
  transition: 0.3s;
}

.booking__btn:hover {
  background-color: rgb(163, 132, 77);
}

.burger__menu {
  display: none;
  flex-direction: column;
  gap: 4px;
}

.burger__menu span {
  height: 3px;
  width: 24px;
  background-color: rgb(163, 132, 77);
}

.hero__section {
  background-image: url("../images/homepage/hero-background.jpg");
  background-size: cover;
  background-position: center;
  height: 500px;
  position: relative;
}

.hero__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.hero__title {
  font-size: 64px;
  color: #1C1C1A;
  line-height: 1.25;
  letter-spacing: -0.02em;
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.hero__desc {
  color: rgb(249, 248, 246);
  font-size: 18px;
  letter-spacing: 0.1em;
  font-style: italic;
}

.about__section {
  background-color: rgb(249, 248, 246);
  width: 100%;
  padding: 8rem 4rem;
}

.about__image {
  min-height: -moz-max-content;
  min-height: max-content;
  max-width: 400px;
  position: relative;
}

.about__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.about__container {
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.about__description {
  display: flex;
  flex-direction: column;
  max-width: 528px;
  text-align: left;
  gap: 2rem;
}

.about__description span {
  letter-spacing: 0.3em;
  font-size: 12px;
  color: rgb(163, 132, 77);
  font-weight: bold;
  cursor: default;
}

.about__description h2 {
  font-size: 3rem;
  line-height: 1.2;
  color: #1C1C1A;
  cursor: default;
}

.about__description p {
  line-height: 1.625;
  color: rgb(68, 71, 74);
  font-size: 18px;
}

.about--italic {
  font-style: italic;
}

.about__description a {
  color: rgb(163, 132, 77);
  text-decoration: underline;
  text-underline-offset: 5px;
  letter-spacing: 0.1em;
  font-weight: 600;
  font-size: 12px;
}

.about__image__decor {
  display: block;
  position: absolute;
  left: -1.7rem;
  bottom: -1.7rem;
  width: 12rem;
  height: 12rem;
  border: 1px solid;
  animation: boxAnimation 6s infinite ease;
}

@keyframes boxAnimation {
  0% {
    border-color: rgb(148, 19, 19);
  }
  25% {
    border-color: rgb(163, 132, 77);
  }
  50% {
    border-color: rgb(12, 12, 86);
  }
  100% {
    border-color: rgb(4, 89, 4);
  }
}
.rooms__section {
  width: 100%;
  background-color: rgb(240, 237, 233, var(--tw-bg-opacity, 1));
  padding: 8rem 4rem;
}

.rooms__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  flex-direction: column;
}

.rooms__title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-direction: column;
}

.rooms__title span {
  letter-spacing: 0.3em;
  font-size: 12px;
  color: rgb(163, 132, 77);
  font-weight: bold;
  cursor: default;
}

.rooms__title h2 {
  font-size: 3rem;
  line-height: 1.2;
  color: #1C1C1A;
  cursor: default;
}

.room__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 40px;
       column-gap: 40px;
}

.room__card {
  max-width: 265px;
  min-height: -moz-max-content;
  min-height: max-content;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.3s;
  justify-content: space-between;
  background-color: rgb(249, 248, 246);
}

.room__image {
  width: 265px;
  height: 265px;
}

.room__image img {
  width: 100%;
  height: 100%;
}

.room__desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem;
  min-height: 203px;
}

.room__desc__text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.room__desc__text h3 {
  color: #1C1C1A;
  font-size: 30px;
  line-height: 1.3;
}

.room__desc__text span {
  color: rgb(68, 71, 74);
}

.room__btn {
  cursor: pointer;
  max-width: 88px;
  padding: 0.75rem 1.5rem;
  border: 1px solid rgb(117, 119, 122);
  transition: 0.3s;
  text-align: center;
}

.room__card:hover {
  transform: scale(1.1);
  background-color: rgb(249, 248, 246);
}

.room__btn:hover {
  background-color: #1C1C1A;
  color: white;
}

.accommodation__section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0rem;
  background-color: rgb(249, 248, 246);
  padding: 8rem 4rem;
}

.accommodation__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  flex-direction: column;
}

.accomm__title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
}

.accomm__title h3 {
  font-size: 3rem;
  line-height: 1.2;
  color: #1C1C1A;
  cursor: default;
}

.accomm__title span {
  letter-spacing: 0.3em;
  font-size: 12px;
  color: rgb(163, 132, 77);
  font-weight: bold;
  cursor: default;
}

.accomm__cards {
  display: grid;
  grid-template-columns: repeat(4, 208px);
  -moz-column-gap: 1rem;
       column-gap: 1rem;
}

.accomm__card {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
  height: -moz-max-content;
  height: max-content;
}

.accomm__icon {
  padding: 2rem;
  background-color: rgb(240, 237, 233, var(--tw-bg-opacity, 1));
  border-radius: 0.75rem;
  color: rgb(163, 132, 77);
  font-size: 2.25rem;
  line-height: 2.5rem;
  transition: 0.3s;
}

.accomm__icon:hover {
  background-color: rgb(163, 132, 77);
  color: rgb(249, 248, 246);
  transform: scale(1.1);
}

.accomm__desc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
  padding: 0 1rem;
  color: rgb(68, 71, 74);
  line-height: 1.4rem;
}

.accomm__desc h4 {
  font-size: 1.5rem;
  color: #1C1C1A;
}

.footer {
  background-color: rgb(240, 237, 233, var(--tw-bg-opacity, 1));
  padding: 3rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8rem;
}

.footer__card {
  display: flex;
  flex-direction: column;
}

.footer__list {
  display: flex;
  gap: 15px;
  flex-direction: column;
}

.footer__link {
  color: #1C1C1A;
  transition: 0.3s;
}

.footer__link:hover {
  color: rgb(163, 132, 77);
}

.footer__logo {
  line-height: 1.5;
  color: rgb(163, 132, 77);
}

.list__title {
  color: #1C1C1A;
  font-weight: bold;
  cursor: default;
}

.about-hero__section {
  background-image: url("../images/about-us/aboutus-hero__background.jpg");
}

.about-hero__title {
  color: white;
}

.about-values__section {
  background-color: rgb(240, 237, 233, var(--tw-bg-opacity, 1));
  padding: 8rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.values__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-direction: column;
}

.values__title {
  text-align: center;
}

.values__title span {
  letter-spacing: 0.3em;
  font-size: 12px;
  color: rgb(163, 132, 77);
  font-weight: bold;
  cursor: default;
}

.values__title h2 {
  font-size: 3rem;
  line-height: 1.2;
  color: #1C1C1A;
  cursor: default;
}

.values__cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  text-align: center;
}

.values__card {
  padding: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  flex-direction: column;
  background-color: white;
  cursor: default;
  transition: 0.3s;
}

.values__card:hover {
  transform: translateY(-7px);
}

.values__icon {
  font-size: 2.8rem;
  color: rgb(163, 132, 77);
}

.values__desc {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
}

.values__desc h3 {
  font-size: 2rem;
  line-height: 1.3;
  color: #1C1C1A;
}

.values__desc p {
  line-height: 1.6;
  color: rgb(68, 71, 74);
}

.about-staff__section {
  background-color: rgb(249, 248, 246);
  padding: 8rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.staff__cards {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  -moz-column-gap: 3rem;
       column-gap: 3rem;
}

.staff__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex-direction: column;
}

.staff__title {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
  text-align: center;
}

.staff__title h3 {
  font-size: 3rem;
  line-height: 1.2;
  color: #1C1C1A;
  cursor: default;
}

.staff__title span {
  letter-spacing: 0.3em;
  font-size: 12px;
  color: rgb(163, 132, 77);
  font-weight: bold;
  cursor: default;
}

.staff__card {
  max-width: 363px;
  transition: 0.3s;
}

.staff__card:hover {
  transform: scale(1.1);
}

.staff__img {
  height: 363px;
}

.staff__img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  filter: grayscale(100%);
  transition: 0.3s;
}

.staff__img img:hover {
  filter: grayscale(0%);
}

.staff__info {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  flex-direction: column;
  text-align: center;
}

.staff__info h4 {
  font-size: 2rem;
}

.staff__info span {
  letter-spacing: 0.3em;
  font-size: 12px;
  color: rgb(163, 132, 77);
  font-weight: bold;
  cursor: default;
}

.about-quote__section {
  padding: 10rem 8rem;
  background-color: #121212;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-image: linear-gradient(to top left, rgba(163, 131, 77, 0.911), #121212, #121212, #121212, #121212, rgba(163, 131, 77, 0.911));
}

.quote__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-direction: column;
  text-align: center;
}

.quote__icon {
  font-size: 5rem;
  color: rgb(163, 132, 77);
}

.quote p {
  font-size: 1.9rem;
  font-style: italic;
  line-height: 1.375;
}

.quote__author span {
  letter-spacing: 0.3em;
  font-size: 12px;
  color: rgb(163, 132, 77);
  font-weight: bold;
  cursor: default;
}

.rooms-hero__section {
  background-image: url("../images/rooms-page/rooms-hero__background.jpg");
}

.rooms-hero__title {
  color: white;
}

.room__section {
  background-color: rgb(249, 248, 246);
  padding: 8rem 4rem;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.room__container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  flex-direction: column;
  margin: 0 auto;
}

.room__title h2 {
  font-size: 3rem;
  line-height: 1.2;
  color: #1C1C1A;
  cursor: default;
  position: relative;
  -webkit-text-decoration: underline rgb(163, 132, 77) 1px;
          text-decoration: underline rgb(163, 132, 77) 1px;
  text-underline-offset: 1rem;
  text-align: center;
}

.room__img1 {
  background-image: url("../images/homepage/room-card1.jpg");
}

.room__img2 {
  background-image: url("../images/homepage/room-card2.jpg");
}

.room__img3 {
  background-image: url("../images/homepage/room-card3.jpg");
}

.room__img {
  background-size: cover;
  background-position: center;
  max-width: 350px;
  min-height: 340px;
  -o-object-fit: cover;
     object-fit: cover;
}

.room__numbers {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  -moz-column-gap: 3rem;
       column-gap: 3rem;
  margin: 0 auto;
}

.room__number {
  background-color: white;
  transition: 0.3s;
}

.room__number:hover {
  transform: translateY(-5px);
  box-shadow: 5px 10px 18px rgb(163, 132, 77);
}

.room__info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.5rem;
  max-width: 350px;
  padding: 2rem;
}

.room__info__title {
  display: flex;
  gap: 2rem;
}

.room__info__title h3 {
  font-size: 2rem;
}

.room__info__title span {
  letter-spacing: 0.3em;
  font-size: 12px;
  color: rgb(163, 132, 77);
  font-weight: bold;
  cursor: default;
}

.room__description p {
  color: rgb(68, 71, 74);
  text-align: center;
}

.room__icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 0 auto;
}

.room__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-direction: column;
  color: rgb(163, 132, 77);
  font-size: 1.4rem;
}

.room__icon span {
  color: #1C1C1A;
  font-size: 0.7rem;
}

.room__details {
  margin: 0 auto;
}

.rm__btn {
  padding: 0.4rem 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  background-color: rgb(249, 248, 246);
  border: 1px solid rgb(240, 237, 233, var(--tw-bg-opacity, 1));
  border-radius: 12px;
  color: #1C1C1A;
  font-size: 0.8rem;
  transition: 0.3s;
  cursor: pointer;
}

.rm__btn:hover {
  background-color: rgb(163, 132, 77);
}

.comfort__section {
  background-color: rgb(240, 237, 233, var(--tw-bg-opacity, 1));
  padding: 8rem 4rem;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.comfort__container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.comfort__text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.comfort__text span {
  letter-spacing: 0.3em;
  font-size: 12px;
  color: rgb(163, 132, 77);
  font-weight: bold;
  cursor: default;
}

.comfort__text h3 {
  font-size: 3rem;
  line-height: 1.2;
  color: #1C1C1A;
  cursor: default;
}

.comfort__text p {
  font-size: 18px;
  color: rgb(68, 71, 74);
  line-height: 1.2;
}

.comfort__icons {
  display: grid;
  grid-template-columns: repeat(2, 260px);
  grid-template-rows: repeat(3, 48px);
  align-items: center;
}

.comfort__icon {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: rgb(163, 132, 77);
}

.comfort__icon span {
  color: #1C1C1A;
}

.comfort__image {
  background-image: url("../images/rooms-page/comfort.jpg");
  background-position: center;
  background-size: cover;
  -o-object-fit: cover;
     object-fit: cover;
}

.offer__section {
  background-color: rgb(249, 248, 246);
  padding: 8rem 4rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.offer__container {
  display: flex;
  gap: 3rem;
  align-items: center;
  padding: 6rem;
  background-color: #181818;
}

.offer__text h4 {
  font-size: 3rem;
  line-height: 1.2;
  color: #1C1C1A;
  cursor: default;
  color: white;
  margin-bottom: 1.5rem;
}

.offer__text p {
  max-width: 36rem;
  font-size: 1.1rem;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.6;
  margin-bottom: 2.5rem;
}

.offer__btn {
  padding: 1rem 2.5rem;
  font-size: 12px;
  letter-spacing: 0.1em;
  background-color: rgb(163, 132, 77);
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.offer__btn:hover {
  background-color: white;
  color: #181818;
}

.offer__image {
  background-image: url("../images/rooms-page/offer.jpg");
  width: 320px;
  height: 320px;
  background-position: center;
  background-size: cover;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 0.3s;
}

.offer__image:hover {
  transform: scale(1.1);
}

.services-hero__section {
  background-image: url("../images/services-page/hero_background.jpg");
}

.services-hero__title {
  color: white;
}

.services-hero__span {
  letter-spacing: 0.3em;
  font-size: 12px;
  color: rgb(163, 132, 77);
  font-weight: bold;
  cursor: default;
}

.service__section {
  background-color: rgb(249, 248, 246);
  padding: 10rem 4rem;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.service__container {
  max-width: 1240px;
  display: flex;
  flex-direction: column;
}

.service__title h2 {
  font-size: 3rem;
  line-height: 1.2;
  color: #1C1C1A;
  cursor: default;
  margin-bottom: 1.5rem;
}

.service__title p {
  line-height: 1.6;
  color: rgb(68, 71, 74);
}

.service__title {
  max-width: 42rem;
  margin-bottom: 4rem;
}

.service__cards {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 24px;
}

.serv__img1 {
  background-image: url("../images/services-page/spa.jpg");
}

.serv__img2 {
  background-image: url("../images/services-page/restaurant.jpg");
}

.serv__img3 {
  background-image: url("../images/services-page/conference.jpg");
}

.serv__img4 {
  background-image: url("../images/services-page/concierge.jpg");
}

.service__card__image {
  width: 564px;
  height: 564px;
  background-position: center;
  background-size: cover;
  transition: 0.3s;
}

.service__card__image:hover {
  transform: scale(1.025);
}

.service__desc {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 564px;
}

.service__desc h3 {
  font-size: 32px;
  line-height: 1.3;
  color: #1C1C1A;
}

.service__desc p {
  line-height: 1.6;
  color: rgb(68, 71, 74);
}

.service__desc a {
  color: rgb(163, 132, 77);
  -webkit-text-decoration: underline dotted 0.5px;
          text-decoration: underline dotted 0.5px;
  text-underline-offset: 5px;
}

@media (max-width: 1140px) {
  .about__description h2 {
    font-size: 2.8rem;
  }
  .about__description p {
    font-size: 1rem;
  }
  .accomm__cards {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2rem;
  }
  .room__numbers {
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
    margin: auto;
  }
}
@media (max-width: 970px) {
  .logo__title {
    font-size: 24px;
  }
  .nav__list {
    gap: 10px;
  }
  .nav__link {
    font-size: 13px;
  }
  .booking__btn {
    padding: 8px 24px;
  }
  .about__description h2 {
    font-size: 2.4rem;
  }
  .about__description p {
    font-size: 0.8rem;
  }
  .about__image__decor {
    display: none;
  }
  .values__desc h3 {
    font-size: 1.6rem;
  }
  .values__desc p {
    font-size: 0.7rem;
  }
  .values__title h2 {
    font-size: 2.5rem;
  }
  .comfort__container {
    grid-template-columns: 1fr;
  }
  .service__title {
    max-width: 400px;
  }
  .service__title h2 {
    font-size: 2rem;
  }
  .service__title p {
    font-size: 14px;
  }
  .service__cards {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .service__card__image {
    width: 400px;
    height: 400px;
  }
  .service__desc {
    max-width: 400px;
  }
  .service__desc h3 {
    font-size: 1.5rem;
  }
  .service__desc p {
    font-size: 0.8rem;
  }
  .service__desc a {
    font-size: 0.7rem;
  }
}
@media (max-width: 834px) {
  .logo__title {
    font-size: 32px;
  }
  .navbar {
    position: absolute;
    top: 100%;
    left: -100%;
    width: 100%;
    background: rgb(249, 248, 246);
    transition: 0.3s;
  }
  .navbar.active {
    left: 0;
  }
  .nav__list {
    flex-direction: column;
    padding: 30px;
    gap: 20px;
    text-align: center;
  }
  .header__container {
    justify-content: space-around;
    padding: 13px 20px;
  }
  .burger__menu {
    display: flex;
  }
  .booking__btn {
    display: none;
  }
  .hero__title {
    font-size: 44px;
  }
  .about__container {
    margin: 0 auto;
    flex-direction: column;
    gap: 20px;
  }
  .about__description {
    text-align: center;
    margin: auto;
  }
  .about__image {
    margin: auto;
  }
  .rooms__title {
    text-align: center;
  }
  .room__cards {
    grid-template-columns: 1fr;
    row-gap: 40px;
  }
  .accomm__title h3 {
    font-size: 2rem;
  }
  .footer__container {
    gap: 4rem;
  }
  .footer__logo {
    font-size: 24px;
  }
  .footer__list__item {
    font-size: 14px;
  }
  .values__cards {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .values__desc p {
    font-size: 0.9rem;
  }
  .staff__title h3 {
    font-size: 1.8rem;
  }
  .staff__cards {
    grid-template-columns: 1fr;
  }
  .staff__info h4 {
    font-size: 1.4rem;
  }
  .quote p {
    font-size: 1.5rem;
  }
  .quote__icon {
    font-size: 3rem;
  }
  .room__numbers {
    grid-template-columns: repeat(1, 1fr);
  }
  .room__title h2 {
    font-size: 2rem;
  }
  .room__info__title h3 {
    font-size: 1.5rem;
  }
  .room__description p {
    font-size: 0.8rem;
  }
  .room__btn {
    display: flex;
  }
  .comfort__text h3 {
    font-size: 1.8rem;
  }
  .comfort__text p {
    font-size: 0.8rem;
  }
  .comfort__icon span {
    font-size: 10px;
  }
  .comfort__icons {
    grid-template-columns: repeat(2, 160px);
  }
  .offer__text h4 {
    font-size: 2rem;
  }
  .offer__text p {
    font-size: 18px;
  }
  .offer__container {
    flex-direction: column;
  }
  .offer__image {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .logo__title {
    font-size: 26px;
  }
  .hero__title {
    font-size: 34px;
  }
  .hero__desc {
    font-size: 16px;
    letter-spacing: 0;
  }
  .about__description h2 {
    font-size: 2rem;
  }
  .about__description {
    max-width: 180px;
    align-items: center;
    justify-content: center;
  }
  .about__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .rooms__title h2 {
    font-size: 2rem;
  }
  .rooms__container {
    margin: auto;
    text-align: center;
  }
  .room__btn {
    margin: auto;
  }
  .accomm__cards {
    grid-template-columns: 1fr;
  }
  .footer__container {
    flex-direction: column;
    text-align: center;
  }
  .footer__title {
    text-align: center;
  }
  .scroll__btn {
    padding: 0.5rem;
    font-size: 0.8rem;
  }
  .values__title h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
  }
  .quote p {
    font-size: 1.3rem;
  }
  .quote__icon {
    font-size: 1.5rem;
  }
  .quote__author span {
    font-size: 0.5rem;
  }
  .room__title h2 {
    font-size: 1.5rem;
  }
  .comfort__text {
    text-align: center;
  }
  .comfort__text h3 {
    font-size: 1.2rem;
  }
  .comfort__text p {
    font-size: 0.5rem;
  }
  .comfort__text span {
    font-size: 0.5rem;
  }
  .comfort__icon {
    font-size: 0.8rem;
  }
  .comfort__icons {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    row-gap: 1rem;
  }
  .offer__text h4 {
    font-size: 1.4rem;
  }
  .offer__text p {
    font-size: 14px;
  }
  .offer__btn {
    padding: 0.9rem 1.3rem;
  }
  .service__title {
    max-width: 200px;
  }
  .service__title h2 {
    font-size: 1.5rem;
  }
  .service__title p {
    font-size: 12px;
  }
  .service__cards {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
  .service__card__image {
    width: 200px;
    height: 200px;
  }
  .service__desc {
    max-width: 200px;
  }
  .service__desc h3 {
    font-size: 1rem;
  }
  .service__desc p {
    font-size: 0.7rem;
  }
  .service__desc a {
    font-size: 0.6rem;
  }
}
@media (max-width: 320px) {
  .logo__title {
    font-size: 22px;
  }
  .header__container {
    padding: 13px 2px;
  }
  .hero__title {
    font-size: 30px;
  }
  .about__description h2 {
    font-size: 1.3rem;
  }
  .about__description p {
    font-size: 0.6rem;
  }
  .about__description span {
    font-size: 0.6rem;
  }
  .about__description a {
    font-size: 0.6rem;
  }
  .room__desc__text h3 {
    font-size: 1.3rem;
  }
  .rooms__title h2 {
    font-size: 1.5rem;
  }
  .room__btn {
    padding: 0.5rem 1rem;
    text-align: center;
  }
  .room__card {
    max-width: 200px;
  }
  .room__image {
    max-height: 150px;
    max-width: 200px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .accomm__title span {
    font-size: 0.4rem;
  }
  .accomm__title h3 {
    font-size: 1.3rem;
  }
  .accomm__icon {
    padding: 1.5rem;
    font-size: 1.5rem;
  }
  .accomm__desc h4 {
    font-size: 1rem;
  }
  .accomm__desc p {
    font-size: 0.8rem;
  }
  .values__desc h3 {
    font-size: 1rem;
  }
  .values__desc p {
    font-size: 0.5rem;
  }
  .values__icon {
    font-size: 1.5rem;
  }
  .values__title h2 {
    font-size: 1.2rem;
  }
  .values__title span {
    font-size: 0.5rem;
  }
  .staff__title h3 {
    font-size: 1.4rem;
  }
  .staff__title span {
    font-size: 0.6rem;
  }
  .staff__info span {
    font-size: 0.6rem;
  }
}/*# sourceMappingURL=main.css.map */