/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.5.15,
* Autoprefixer: v10.5.0
* Browsers: last 4 version
*/

@import './mixins';
@import './variables';

body {
    font-family: 'Playfair Display';
}

// STYLING THE SCROLL TO TOP BUTTON
.scroll__btn {
    position: fixed;
    bottom: 30px;
    right: 30px;
    border-radius: 50%;
    padding: 1rem;
    border: none;
    background-color: $active-text;
    color: $background-primary;
    font-size: 1.2rem;
    cursor: pointer;
    z-index: 99;
    display: none;
    -webkit-animation: bounce;
            animation: bounce;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    
}



// ======STYLING THE HEADER =========
.main__header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: $background-primary;
    width: 100%;
}

.header__container {
    max-width: 1140px;
    padding: 26px 64px;
    @include flex($justify:space-between,$gap:0);
    margin: 0 auto;
}

.nav__list {
    @include flex($gap:24px);
}

.logo__title {
    color: $primary-text;
    font-size: 32px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}



.nav__link {
    color: $primary-text;
    font-size: 14px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    letter-spacing: 0.1em;
}

.nav__link--active {
    color: $active-text;
    text-decoration: underline;
    text-underline-offset: 7px;
}

.nav__link:hover, .logo__title:hover {
    color: $active-text;
}

.booking__btn {
    border: none;
    background-color: $primary-text;
    color: white;
    padding: 12px 32px;
    cursor: pointer;
    letter-spacing: 0.1em;
    font-weight: bold;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.booking__btn:hover {
    background-color: $active-text;
}

.burger__menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 4px;
}
.burger__menu span {
    height: 3px;
    width: 24px;
    background-color: $active-text;
}


// =========STYLING THE HERO SECTION ====================

.hero__section {
    background-image: url("../images/homepage/hero-background.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
    position: relative;
}
.hero__container {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    text-align: center;
}
.hero__title {
    font-size: 64px;
    color: $primary-text;
    line-height: 1.25;
    letter-spacing: -0.02em;
    margin-bottom: 1.5rem;
    font-weight: 500;
    
}
.hero__desc {
    color: $background-primary;
    font-size: 18px;
    letter-spacing: 0.1em;
    font-style: italic;

}

// ========ABOUT US SECTION================
.about__section {
    background-color: $background-primary;
    width: 100%;
    padding: 8rem 4rem;

}
.about__image {
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
    max-width: 400px;
    position: relative;
}
.about__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: contain;
       object-fit: contain;

}
.about__container {
    margin: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}
.about__description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 528px;
    text-align: left;
    gap: 2rem;
    
}
.about__description span {
    @include section-category;
}
.about__description h2 {
    @include section-title;
}
.about__description p {
    line-height: 1.625;
    color: $secondary-text;
    font-size: 18px;
}
.about--italic {
    font-style: italic;
}

.about__description a {
    color: $active-text;
    text-decoration: underline;
    text-underline-offset: 5px;
    letter-spacing: 0.1em;
    font-weight: 600;
    font-size: 12px;
}
.about__image__decor {
    display: block;
    position: absolute;
    left: -1.7rem;
    bottom: -1.7rem;
    width: 12rem;
    height: 12rem;
    border: 1px solid ;
    -webkit-animation:boxAnimation 6s infinite ease;
            animation:boxAnimation 6s infinite ease;
}

@-webkit-keyframes boxAnimation {
  0%   {border-color: rgb(148, 19, 19);}
  25%  {border-color: rgb(163 132 77);}
  50%  {border-color: rgb(12, 12, 86);}
  100% {border-color: rgb(4, 89, 4);}
}

@keyframes boxAnimation {
  0%   {border-color: rgb(148, 19, 19);}
  25%  {border-color: rgb(163 132 77);}
  50%  {border-color: rgb(12, 12, 86);}
  100% {border-color: rgb(4, 89, 4);}
}




// ============== STYLING THE ROOMS SECTION =======
.rooms__section {
    width: 100%;
    background-color: $background-secondary;
    padding: 8rem 4rem;
}

.rooms__container {
    @include flex($gap:5rem);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.rooms__title {
    @include flex($gap:1rem);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.rooms__title span {
    @include section-category;
}
.rooms__title h2 {
    @include section-title;
}

.room__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
    grid-template-columns: repeat(3,1fr);
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
}
.room__card {
    max-width: 265px;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
    border-radius: 12px;
    overflow: hidden;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: $background-primary;
}
.room__image {
    width: 265px;
    height: 265px;
}
.room__image img {
    width: 100%;
    height: 100%;
}
.room__desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0.5rem;
    min-height: 203px;
    padding: 15px 20px;

}
.room__desc__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1rem;
}
.room__desc__text h3 {
    color: $primary-text;
    font-size: 30px;
    line-height: 1.3;
}

.room__desc__text span {
    color: $secondary-text;
}

.room__btn {
    cursor: pointer;
    max-width: 88px;
    padding: 0.75rem 1.5rem;
    border: 1px solid rgb(117 119 122);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    text-align: center;
}
.room__card:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    background-color: $background-primary;
}
.room__btn:hover {
    background-color: $primary-text;
    color: white;
}




// STYLING THE ACCOMMODATION SECTION

.accommodation__section {
    @include flex($gap:0rem);
    background-color: $background-primary;
    padding: 8rem 4rem;
}

.accommodation__container{
    @include flex($gap:5rem);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.accomm__title {
    @include flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.accomm__title h3 {
    @include section-title;
}

.accomm__title span {
    @include section-category;
}

.accomm__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 208px 1rem 208px 1rem 208px 1rem 208px;
    grid-template-columns: repeat(4,208px);
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
}

.accomm__card {
    text-align: center;
    @include flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
}

.accomm__icon {
    padding: 2rem;
    background-color: $background-secondary;
    border-radius: 0.75rem;
    color: $active-text;
    font-size: 2.25rem;
    line-height: 2.5rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.accomm__icon:hover {
    background-color: $active-text;
    color: $background-primary;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1)

}

.accomm__desc {
    @include flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 1rem;
    color: $secondary-text;
    line-height: 1.4rem;
}

.accomm__desc h4 {
    font-size: 1.5rem;
    color: $primary-text;
}

// ========STYLING THE FOOTER ===============
.footer {
    background-color: $background-secondary;
    padding: 3rem 1.5rem;
    @include flex;
}

.footer__container {
    @include flex($gap:8rem);
}
.footer__card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
   
}

.footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;

}
.footer__link {
    color: $primary-text;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.footer__link:hover {
    color: $active-text;
}


.footer__logo {
    line-height: 1.5;
    color: $active-text;
}

.list__title {
    color: $primary-text;
    font-weight: bold;
    cursor: default;
}




//  ===============================================================================
// ================================= ABOUT US PAGE HTML ===============================================================================
// ================================================================================



// ========================ABOUT-US HTML - HERO SECTION==========

.about-hero__section {
    background-image: url("../images/about-us/aboutus-hero__background.jpg");
}

.about-hero__title {
    color: white;
}

// =============ABOUT-US HTML - VALUES SECTION============

.about-values__section {
    background-color: $background-secondary;
    padding: 8rem 4rem;
    @include flex;
}
.values__container {
    @include flex($gap:3rem);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.values__title {
    text-align: center;
}
.values__title span {
    @include section-category;
    
}
.values__title h2 {
    @include section-title;
}

.values__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr) 3rem minmax(0, 1fr) 3rem minmax(0, 1fr);
    grid-template-columns: repeat(3, minmax(0, 1fr));
    -webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
            column-gap: 3rem;
    text-align: center;
}
.values__card {
    padding: 3rem;
    @include flex($gap:1.5rem);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: white;
    cursor: default;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.values__card:hover {
    -webkit-transform: translateY(-7px);
        -ms-transform: translateY(-7px);
            transform: translateY(-7px);
}
.values__icon {
    font-size: 2.8rem;
    color: $active-text;
}
.values__desc {
    @include flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.values__desc h3 {
    font-size:2rem;
    line-height: 1.3;
    color: $primary-text;
}

.values__desc p {
    line-height: 1.6;
    color: $secondary-text;
}

// ============ STYLING THE STAFF SECTION ===========

.about-staff__section {
    background-color: $background-primary;
    padding: 8rem 4rem;
    @include flex;
}

.staff__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr) 3rem minmax(0, 1fr) 3rem minmax(0, 1fr);
    grid-template-columns: repeat(3, minmax(0, 1fr));
    -webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
            column-gap: 3rem;
}

.staff__container {
    @include flex($gap:3rem);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    
}
.staff__title {
    @include flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}

.staff__title h3 {
    @include section-title;
}

.staff__title span {
    @include section-category;
}

.staff__card {
    max-width: 363px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.staff__card:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

.staff__img {
    height: 363px;
}

.staff__img img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 100%;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.staff__img img:hover {
    -webkit-filter:grayscale(0%);
            filter:grayscale(0%);
}

.staff__info {
    padding: 2rem 0;
    @include flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}

.staff__info h4 {
    font-size: 2rem;
}

.staff__info span {
    @include section-category;
}


//=============ABOUT US HTML - QUOTE SECTION ==================

.about-quote__section {
    padding: 10rem 8rem;
    background-color: #121212;
    color: white;
    @include flex;
    background-image: -webkit-gradient(linear,right bottom, left top,from(rgba(163, 131, 77, 0.911)),color-stop(#121212),color-stop(#121212),color-stop(#121212),color-stop(#121212),to(rgba(163, 131, 77, 0.911)));
    background-image: linear-gradient(to top left,rgba(163, 131, 77, 0.911),#121212,#121212,#121212,#121212,rgba(163, 131, 77, 0.911));
   
}
.quote__container {
    @include flex($gap:2rem);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}


.quote__icon {
    font-size: 5rem;
    color: $active-text;
}
.quote p {
    font-size: 1.9rem;
    font-style: italic;
    line-height: 1.375;
}

.quote__author span {
    @include section-category;
}



// ============================================================================================
// ==================ROOMS HTML PAGE =========================
// ==============================================================

// STYLING THE ROOMS HTML - HERO SECTION
.rooms-hero__section {
    background-image: url("../images/rooms-page/rooms-hero__background.jpg");
}
.rooms-hero__title {
    color: white;
}



// ROOMS HTML PAGE - STYLING THE ROOM SECTION

.room__section {
    background-color: $background-primary;
    padding: 8rem 4rem;
    max-width: 100vw;
    @include flex;
    
}

.room__container {
    @include flex($gap:5rem);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
}
.room__title h2 {
    @include section-title;
    position: relative;
    -webkit-text-decoration: underline $active-text 1px;
            text-decoration: underline $active-text 1px;
    text-underline-offset: 1rem;
    text-align: center;
}

.room__img1 {
    background-image: url("../images/homepage/room-card1.jpg");
}
.room__img2 {
    background-image: url("../images/homepage/room-card2.jpg");
}
.room__img3 {
    background-image: url("../images/homepage/room-card3.jpg");
}

.room__img {
    background-size: cover;
    background-position: center;
    max-width: 350px;
    min-height: 340px;
    -o-object-fit: cover;
       object-fit: cover;

}

.room__numbers {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr) 3rem minmax(0, 1fr) 3rem minmax(0, 1fr);
    grid-template-columns: repeat(3, minmax(0, 1fr));
    -webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
            column-gap: 3rem;
    margin: 0 auto;
    
}
.room__number {
    background-color: white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.room__number:hover {
    -webkit-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
            transform: translateY(-5px);
    -webkit-box-shadow: 5px 10px 18px $active-text;
            box-shadow: 5px 10px 18px $active-text;
}

.room__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap:1.5rem;    
    max-width: 350px;
    padding: 2rem;
}

.room__info__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 2rem;
}
.room__info__title h3 {
    font-size: 2rem;
}
.room__info__title span {
    @include section-category;
}

.room__description p {
    color: $secondary-text;
    text-align: center;
}
.room__icons {
    @include flex;
    margin: 0 auto;
}

.room__icon {
    @include flex($gap:8px);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: $active-text;
    font-size: 1.4rem;

}
.room__icon span {
    color: $primary-text;
    font-size: 0.7rem;
}
.room__details {
    margin: 0 auto;
}
.rm__btn {
    padding: 0.4rem 0.9rem;
    @include flex;
    background-color: $background-primary;
    border: 1px solid $background-secondary;
    border-radius: 12px;
    color: $primary-text;
    font-size: 0.8rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    cursor: pointer;
}
.rm__btn:hover {
    background-color: $active-text;
}

// =======================STYLING THE COMFORT SECTION - ROOMS HTML =================

.comfort__section {
    background-color: $background-secondary;
    padding: 8rem 4rem;
    max-width: 100vw;
    @include flex;
    
}

.comfort__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);

    
}
.comfort__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
    
    
}
.comfort__text span {
    @include section-category;

}
.comfort__text h3 {
    @include section-title;
}

.comfort__text p {
    font-size: 18px;
    color: $secondary-text;
    line-height: 1.2;
}

.comfort__icons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (260px)[2];
    grid-template-columns: repeat(2, 260px);
    -ms-grid-rows: (48px)[3];
    grid-template-rows: repeat(3,48px);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.comfort__icons > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.comfort__icons > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.comfort__icons > *:nth-child(3) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.comfort__icons > *:nth-child(4) {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}

.comfort__icons > *:nth-child(5) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
}

.comfort__icons > *:nth-child(6) {
    -ms-grid-row: 3;
    -ms-grid-column: 2;
}
.comfort__icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1rem;
    color: $active-text;
}
.comfort__icon span {
    color: $primary-text;
}

.comfort__image {
    background-image: url("../images/rooms-page/comfort.jpg");
    background-position: center;
    background-size: cover;
    -o-object-fit: cover;
       object-fit: cover;
}

// =================== STYLING THE OFFER SECTION - ROOMS HTML PAGE ===============

.offer__section{
    background-color: $background-primary;
    padding: 8rem 4rem;
    width: 100vw;
    @include flex;
}
.offer__container {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    gap: 3rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 6rem;
    background-color: #181818;
}
.offer__text h4 {
    @include section-title;
    color: white;
    margin-bottom: 1.5rem;
}

.offer__text p {
    max-width: 36rem;
    font-size: 1.1rem;
    color: rgb(255 255 255 / 0.7);
    line-height: 1.6;
    margin-bottom: 2.5rem;
}
.offer__btn {
    padding: 1rem 2.5rem;
    font-size: 12px;
    letter-spacing: 0.1em;
    background-color: $active-text;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.offer__btn:hover{
    background-color: white;
    color: #181818;
}

.offer__image{
    background-image: url("../images/rooms-page/offer.jpg");
    width: 320px;
    height: 320px;
    background-position: center;
    background-size: cover;
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.offer__image:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}



// ===============================================================================================
// ===================STYLING THE SERVICES HTML PAGE=================================
// ======================================================================================


// ========================= STYLING SERVICES HEADER ===============================
.services-hero__section{
    background-image: url("../images/services-page/hero_background.jpg");
}

.services-hero__title {
    color: white;
}
.services-hero__span{
    @include section-category;
}

// ===================STYLING THE SERVICES SECTION=================
.service__section{
    background-color: $background-primary;
    padding: 10rem 4rem;
    width: 100vw;
    @include flex;
}
.service__container{
    max-width: 1240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.service__title h2 {
    @include section-title;
    margin-bottom: 1.5rem;
}
.service__title p {
    line-height: 1.6;
    color: $secondary-text;
}
.service__title {
    max-width: 42rem;
    margin-bottom: 4rem;
}

.service__cards{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr) 24px minmax(0, 1fr);
    grid-template-columns: repeat(2, minmax(0, 1fr));;
    gap: 24px;
}

.serv__img1 {
    background-image: url("../images/services-page/spa.jpg");
}
.serv__img2 {
    background-image: url("../images/services-page/restaurant.jpg");
}
.serv__img3 {
    background-image: url("../images/services-page/conference.jpg");
}
.serv__img4 {
    background-image: url("../images/services-page/concierge.jpg");
}
.service__card__image {
    width: 564px;
    height: 564px;
    background-position: center;
    background-size: cover;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.service__card__image:hover{
    -webkit-transform: scale(1.025);
        -ms-transform: scale(1.025);
            transform: scale(1.025);
}

.service__desc {
    padding-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
    max-width: 564px;
}

.service__desc h3 {
    font-size: 32px;
    line-height: 1.3;
    color: $primary-text;
}
.service__desc p {
    line-height: 1.6;
    color: $secondary-text;
}
.service__desc a {
    color: $active-text;
    -webkit-text-decoration:underline dotted 0.5px;
            text-decoration:underline dotted 0.5px;
    text-underline-offset: 5px;
}


// =========STYLING THE PLUS SERVICE SECTION===========================
.plusService__section {
    padding: 8rem 4rem;
    background-color: $background-secondary;
    max-width: 100vw;
    @include flex;
}

.plusService__container {
    @include flex($gap:5rem);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.plusService__title {
    text-align: center;
}

.plusService__title h3 {
    @include section-title;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.underline {
    height: 1px;
    width: 4rem;
    margin: 0 auto;
    background-color: $active-text;

}

.plusService__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr) 3rem minmax(0, 1fr) 3rem minmax(0, 1fr) 3rem minmax(0, 1fr);
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap:3rem;
    text-align: center;
}
.plusService__icon {
    font-size: 1.2rem;
    line-height: 2.25rem;
    width: 5rem;
    height: 5rem;
    @include flex($gap:0);
    border-radius: 0.75rem;
    background-color: $background-primary;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.plusService__icon:hover{
    background-color: $active-text;
    color: white;
}
.plusService__card {
    @include flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.plusService__desc {
    @include flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.plusService__desc h4 {
    font-size: 12px;
    font-weight: bold;
    color: #121212;
    letter-spacing: 0.05em;
}
.plusService__desc p {
    font-size: 0.8rem;
    line-height: 1.25rem;
    color: $secondary-text;
}


// =========STYLING THE PREMIUM SECTION=================
.premium__section {
    background-color: $background-primary;
    padding: 8rem 4rem;
    max-width: 100vw;
    @include flex;
}

.premium__container {
    max-width: 1152px;
    background-image: url("../images/services-page/premium.jpg");
    -o-object-fit: contain;
       object-fit: contain;
    background-position: bottom center;
    background-size: cover;
    padding: 3rem 10rem;
}

.premium__content h4 {
    @include section-title;
    color: white;
}
.premium__content {
    color: $primary-text;
    text-align: center;
    @include flex($gap:2rem);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}



.premium__content p {
    font-size: 18px;
    line-height: 1.6;
    font-weight: 300;
    max-width: 36rem;
}

.premium__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 1rem;
}

.premium__btn {
    padding: 1rem 2.5rem;
    cursor: pointer;
    letter-spacing: 0.1em;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border-radius: 4px;
    border: 1px solid white;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    @include flex($gap:0);
}
.premium__btn:hover {
    background-color: white;
    color: $primary-text;
}

.premium__book__btn {
    background-color: $active-text;
    border: none;
}


.premium__contact__btn {
    color: $active-text;
}


// ===============================================================================================
// ===================STYLING THE CONTACT HTML PAGE=================================
// ======================================================================================


// ==========STYLING THE HERO SECTION=============================
.contact-hero__section {
    background-image: url("../images/contact-page/contact-hero__background.jpg");
}

.contact-hero__title {
    color: white;
}

// ===========STYLING THE CONTACT FORM SECTION================

.main__contact__section {
    max-width: 100vw;
    margin: 0 auto;
    padding: 8rem 4rem;
    background-color: $background-primary;
}

.contact__content__container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 5fr 80px 7fr;
    grid-template-columns: 5fr 7fr;
    gap: 80px;
}

.contact__title {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.info__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 2rem;
}

.info__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
}


.info__title {
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: $active-text;
    margin-bottom: 8px;
}

.info__text {
    font-size: 16px;
    color: $primary-text;
    line-height: 1.4;
    font-style: italic;
}

.social__block {
    margin-top: 4rem;
}

.social__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 24px;
}

.social__link {
    width: 48px;
    height: 48px;
    border: 1px solid $active-text;
    border-radius: 12px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition:  0.3s ease;
    transition:  0.3s ease;
    color: $active-text;
    margin-top: 0.7rem;
}

.social__link:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

.contact__form__container {
    background-color: white;
    padding: 4rem;
    -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.02);
            box-shadow: 0 20px 50px rgba(0, 0, 0, 0.02);
}

.contact__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
}

.form__field {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 40px 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
}

.input__field {
    position: relative;
}

.input__field input, 
.input__field textarea,
.input__field select {
    width: 100%;
    border: none;
    border-bottom: 1px solid #c5c6ca;
    background: transparent;
    padding: 8px 0;
    font-size: 1rem;
    color: $primary-text;
    outline: none;
    -webkit-transition:  0.3s ease;
    transition:  0.3s ease;
}

.input__field select {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
}

.input__field input:focus, 
.input__field textarea:focus,
.input__field select:focus {
    border-bottom-color: $active-text;
}

.input__field label {
    position: absolute;
    left: 0;
    top: 8px;
    font-size: 1rem;
    color: $secondary-text;
    -webkit-transition:  0.3s ease;
    transition:  0.3s ease;
    pointer-events: none;
}

.submit__btn {
    background-color: $primary-text;
    color: white;
    border: none;
    padding: 20px;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.2em;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    -webkit-transition:  0.3s ease;
    transition:  0.3s ease;
}

.submit__btn:hover {
    background-color: $active-text
}



.input__field input:not(:-moz-placeholder) ~ label, .input__field textarea:not(:-moz-placeholder) ~ label {
    top: -16px;
    font-size: 12px;
    letter-spacing: 0.1em;
    color: $active-text
}



.input__field input:not(:-ms-input-placeholder) ~ label, .input__field textarea:not(:-ms-input-placeholder) ~ label {
    top: -16px;
    font-size: 12px;
    letter-spacing: 0.1em;
    color: $active-text
}



.input__field input:focus ~ label,
.input__field input:not(:placeholder-shown) ~ label,
.input__field textarea:focus ~ label,
.input__field textarea:not(:placeholder-shown) ~ label,
.input__field select:focus ~ label,
.input__field select:valid ~ label {
    top: -16px;
    font-size: 12px;
    letter-spacing: 0.1em;
    color: $active-text
}

// =======================STYLING THE FAQ SECTION===============================

.FAQ__section {
    padding: 8rem 4rem;
    background-color: $background-secondary;
    max-width: 100vw;
    @include flex;
}

.FAQ__container {
    @include flex($gap:4rem);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.FAQ__title {
    text-align: center;
    @include flex($gap:1rem);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
.FAQ__title h3 {
    font-size: 2rem;
    line-height: 1.3;
    color: $primary-text;
}

.FAQ__title span {
    color: $secondary-text;
    line-height: 1.6;
}

.FAQ__cards {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: minmax(0, 1fr) 3rem minmax(0, 1fr) 3rem minmax(0, 1fr);
    grid-template-columns: repeat(3, minmax(0, 1fr));
    -webkit-column-gap: 3rem;
       -moz-column-gap: 3rem;
            column-gap: 3rem;

}

.FAQ__card {
    @include flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0.75rem;
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
    background-color: $background-primary;
    padding: 2rem;
    border-radius: 12px;
    cursor: default;
}

.FAQ__card h4 {
    font-weight: bold;
    color: $primary-text;
    line-height: 1.3;
    font-size: 1.1rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.FAQ__card h4:hover {
    color: $active-text;
}

.FAQ__card p {
    color: $secondary-text;
    line-height: 1.3;
    
}

.contact__footer {
    background-color: $background-primary;
}



// ===================================================================
//================================ RESPONSIVE ==============================
// ===================================================================

@media (max-width:1140px){
    //==== ABOUT US SECTION ======
    .about__description h2 {
        font-size: 2.8rem;
    }
    .about__description p {
        font-size: 1rem;
    }

    // ACCOMMODATION SECTION
    .accomm__cards {
        -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2,1fr);
        -ms-grid-rows: 1fr 2rem 1fr;
        grid-template-rows: repeat(2,1fr);
        row-gap: 2rem;
    }

    // ACCOMMODATION SECTION
    .accomm__cards > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }

    // ACCOMMODATION SECTION
    .accomm__cards > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }

    // ACCOMMODATION SECTION
    .accomm__cards > *:nth-child(3) {
        -ms-grid-row: 3;
        -ms-grid-column: 1;
    }

    // ACCOMMODATION SECTION
    .accomm__cards > *:nth-child(4) {
        -ms-grid-row: 3;
        -ms-grid-column: 2;
    }
    // ROOM NUMBERS
    .room__numbers {
        -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        row-gap: 3rem;
        margin: auto;
    }
}

@media (max-width:970px){

    // ========= HEADER RESPOSNIVE ======
    .logo__title {
        font-size: 24px;
    }
    .nav__list {
        gap: 10px;

    }
    .nav__link {
        font-size: 13px;
    }
    .booking__btn {
        padding: 8px 24px;
    }

    //============= ABOUT US SECTION =====
    .about__description h2 {
        font-size: 2.4rem;
    }
    .about__description p {
        font-size: 0.8rem;
    
    }
    .about__image__decor {
        display: none;
    }


    // ==================================================================================
    // =====================ABOUT US HTML PAGE RESPONSIVE =========================
    // ============================================================================

    // ABOUT US HTML - VALUES SECTION
    .values__desc h3 {
        font-size: 1.6rem;
    }
    .values__desc p {
        font-size: 0.7rem;
    }
    .values__title h2 {
        font-size: 2.5rem;
    }

    // COMFORT SECTION

    
    .comfort__container{
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

     // ============SERVICE SECTION=============
    .service__title {
        max-width: 400px;
    }
    .service__title h2 {
        font-size: 2rem;
    }
    .service__title p {
        font-size: 14px;
    }
    .service__cards {
        
        -ms-grid-columns: (minmax(0, 1fr))[1];
        
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .service__card__image {
        width: 400px;
        height: 400px;
    }

    .service__desc {
        max-width: 400px;
    }
    .service__desc h3 {
        font-size: 1.5rem;
    }
    .service__desc p {
        font-size: 0.8rem;
    }
    .service__desc a {
        font-size: 0.7rem;
    }

    // ===========PLUS SERVICE SECTION=================
    .plusService__cards {
        -ms-grid-columns: (minmax(0, 1fr))[2];
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }


    // ====================PREMIUM SECTION======================
    .premium__container {
        padding: 3rem 7rem;
        max-width: 600px;
    }
    .premium__content h4 {
        font-size: 1.9rem;
    }
    .premium__content p {
        font-size: 1rem;
        color: white;
    }

    // ===============CONTACT FORM SECTION=====================
    .contact__content__container {
        -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
        row-gap: 4rem;
    }
    .info__list {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
    }
    .contact__title {
        text-align: center;
        margin-bottom: 3rem;
    }

    .contact__info {
        width: 100%;
        @include flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center;
    }


}

@media (max-width:834px){
    // ============ HEADER RESPONSIVE ============
    .logo__title{
        font-size: 32px;
    }
    .navbar {
        position: absolute; 
        top: 100%; 
        left: -100%; 
        width: 100%; 
        background: $background-primary; 
        -webkit-transition: 0.3s; 
        transition: 0.3s; 
    }
    .navbar.active { 
        left: 0; 
    }
    .nav__list { 
        -webkit-box-orient: vertical; 
        -webkit-box-direction: normal; 
            -ms-flex-direction: column; 
                flex-direction: column; 
        padding: 30px; 
        gap: 20px; 
        text-align: center; 
    }
    .header__container {
        -ms-flex-pack: distribute;
            justify-content: space-around;
        padding: 13px 20px;
    }
    .burger__menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }
    .booking__btn{
        display: none;
    }

    // ======= HERO SECTION RESPONSIVE =============
    .hero__title {
        font-size: 44px;
    }
    // ABOUT US SECTION
    .about__container {
        margin: 0 auto;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 20px;
    }
    .about__description {
        text-align: center;
        margin: auto;
    }
    .about__image {
        margin: auto;
    }

    // ROOMS SECTION 
    .rooms__title {
        text-align: center;
    }
    .room__cards {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        row-gap: 40px;
    }
    .room__desc {
       gap: 2rem;
    }
    .room__desc__text h3 {
        font-size: 1rem;
    }
    .room__desc__text span {
        font-size: 0.7rem;
    }

    // ACCOMMODATION SECTION
    .accomm__title h3 {
        font-size: 2rem;
    }

    // FOOTER 
    .footer__container{
        gap: 4rem;
    }
    .footer__logo {
        font-size: 24px;
    }
    
    .footer__list__item {
        font-size: 14px;
    }

    // ===============================================================================
    // ============ABOUT US HTML RESPONSIVE============================
    // =====================================================================

    // =======================ABOUT US  - VALUES SECTION==================

    .values__cards {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
    .values__desc p {
        font-size: 0.9rem;
    }

    // ========== STAFF SECTION ========
    .staff__title h3 {
        font-size: 1.8rem;
    }
    .staff__cards {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .staff__info h4 {
        font-size: 1.4rem;
    }

    //================ QUOTE SECTION ========
    .quote p {
        font-size: 1.5rem;
    }
    .quote__icon {
        font-size: 3rem;
    }

    // ===================== ROOM NUMBERS=========
    .room__numbers {
        -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
    }
    .room__title h2 {
        font-size: 2rem;
    }
    .room__info__title h3 {
        font-size: 1.5rem;
    }
    .room__description p {
        font-size: 0.8rem;
    }
    .room__btn {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    // COMFORT SECTION

    .comfort__text h3 {
        font-size: 1.8rem;
    }
    .comfort__text p {
        font-size: 0.8rem;
    }
    .comfort__icon span {
        font-size: 10px;
    }
    .comfort__icons {
            -ms-grid-columns: (160px)[2];
            grid-template-columns: repeat(2, 160px);
    }

    // =======OFFER SECTION================
    .offer__text h4 {
        font-size: 2rem;
    }
    .offer__text p {
        font-size: 18px;
    }
    .offer__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
    
    .offer__image{
        width: 100%;
    }

    // ===========PLUS SERVICE SECTION=================
    .plusService__title h3 {
        font-size: 1.5rem;
    }
    .plusService__desc p {
        font-size: 0.7rem;
    }
    .plusService__desc h4 {
        font-size: 10px;
    }
    .plusService__icon {
        width: 4rem;
        height: 4rem;
    }

     // ====================PREMIUM SECTION======================
    .premium__container {
        padding: 2.5rem 3rem;
        max-width: 450px;
    }
    .premium__buttons {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
            -ms-flex-direction: column-reverse;
                flex-direction: column-reverse;
        width: 100%;
        
    }
    .premium__contact__btn {
        color: white;
       
    }
    .premium__content h4 {
        font-size: 1.5rem;
    }
    .premium__content p {
        font-size: 0.9rem;
    }

    // ===========FAQ SECTION================
    .FAQ__card p {
        font-size: 0.8rem;
    }
    .FAQ__card h4 {
        font-size: 1rem;
    }

   
}


@media (max-width: 768px){
    // ===============CONTACT FORM SECTION=====================
    .info__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .form__field {
        -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .input__field select {
        font-size: 14px;
    }
    .input__field label {
        font-size: 14px;
    }

    // =============FAQ SECTION===================
    .FAQ__cards {
        -ms-grid-columns: minmax(0, 1fr);
        grid-template-columns: repeat(1, minmax(0, 1fr));
        gap: 2rem;
        text-align: center;
    }
    .FAQ__title h3 {
        font-size: 1.2rem;
    }
    .FAQ__title span {
        font-size: 0.9rem;
    }
}


@media (max-width: 480px){
    // ======HEADER REPOSNIVE =========
    .logo__title{
        font-size: 26px;
    }

    // =======HERO SECTION===========
    .hero__title {
        font-size: 34px;
    }
    .hero__desc {
        font-size: 16px;
        letter-spacing: 0;
    }
    // ABOUT US SECTION 
    .about__description h2 {
        font-size: 2rem;

    }
    .about__description {
        max-width: 180px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    .about__container {
        @include flex;
    }
    // ROOMS SECTION
    .rooms__title h2 {
        font-size: 2rem;
    }
    .rooms__container {
        margin: auto;
        text-align: center;
    }
    .room__btn {
        margin: auto;
    }
    
    

    // ACCOMMODATION SECTION
    .accomm__cards {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    // FOOTER
    .footer__container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        
        text-align: center;
    }
    .footer__title{
        text-align: center;
    }

    // SCROLL TO TOP BUTTON
    .scroll__btn {
        padding: 0.5rem;
        font-size: 0.8rem;
    }


      // ===============================================================================
    // ============ABOUT US HTML RESPONSIVE============================
    // =====================================================================

    // =======================ABOUT US  - VALUES SECTION==================

    .values__title h2 {
        font-size: 1.5rem;
        margin-top: 1rem;
    }

    // =========== QUOTE SECTION ==============
   .quote p {
    font-size: 1.3rem;
   }

   .quote__icon {
    font-size: 1.5rem;
   }
   .quote__author span {
    font-size: 0.5rem;
   }

//    ===============ROOM NUMBERS ==============
   .room__title h2 {
    font-size: 1.5rem;
   }

//    ==========COMFORT SECTION =======
   .comfort__text {
    text-align: center;
   }
   .comfort__text h3 {
    font-size: 1.2rem;
   }
   .comfort__text p {
    font-size: 0.5rem;
   }
   .comfort__text span {
    
    font-size: 0.5rem;
   }
   .comfort__icon {
    gap: 0.3rem;
    font-size: 0.7rem;
   }
   .comfort__icons {
    
    margin: 0 auto;
    -ms-grid-columns: minmax(0,1fr) 1rem minmax(0,1fr);
    grid-template-columns: repeat(2,minmax(0,1fr));
    -webkit-column-gap: 1rem;
       -moz-column-gap: 1rem;
            column-gap: 1rem;
    
   }
   .comfort__icon span {
    font-size: 0.4rem;
    
   }

//    =======OFFER SECTION==========

    .offer__text h4 {
        font-size: 1.4rem;
    }
    .offer__text p {
        font-size: 14px;
    }

    .offer__btn {
        padding: 0.9rem 1.3rem;
    }

         // ============SERVICE SECTION=============
    .service__title {
        max-width: 200px;
        text-align: center;
        
    }
    .service__title h2 {
        
        font-size: 1.5rem;
    }
    .service__title p {
        font-size: 12px;
    }
    .service__cards {
        
        -ms-grid-columns: (minmax(0, 1fr))[1];
        
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .service__card__image {
        width: 200px;
        height: 200px;
    }

    .service__desc {
        text-align: center;
        max-width: 200px;
    }
    .service__desc h3 {
        font-size: 1rem;
    }
    .service__desc p {
        font-size: 0.7rem;
    }
    .service__desc a {
        font-size: 0.6rem;
    }


    // ==============================PLUS SERVICE SECTION========================
    .plusService__cards {
        -ms-grid-columns: (minmax(0, 1fr))[1];
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .plusService__title h3 {
        font-size: 1rem;
    }

      // ====================PREMIUM SECTION======================
      .premium__container {
        max-width: 250px;
      }
      .premium__content h4 {
        font-size: 1.2rem;
      }
      .premium__content p {
        font-size: 0.6rem;
      }


       // ===============CONTACT FORM SECTION=====================
       .contact__title {
        font-size: 1.5rem;
       }

       .info__title {
        font-size: 14px;
       }
       .info__text {

        font-size: 12px;
       }

    
       .submit__btn {
        padding: 15px;
        font-size: 10px;
        letter-spacing: 0.05em;
       }
       .input__field label {
        font-size: 10px;
       }

       .input__field select {
        font-size: 10px;
       }
       .contact__form__container {
        padding: 2rem;
       }

    //    ============FAQ SECTION======================
    .FAQ__card h4 {
        font-size: 0.8rem;
    }
    .FAQ__card p {
        font-size: 0.6rem;
    }

    .FAQ__title h3 {
        font-size: 1rem;
    }
    .FAQ__title span {
        font-size: 0.7rem;
    }



}



@media (max-width:320px){
    // =======HEADER RESPONSIVE =====
    .logo__title {
        font-size: 22px;
    }
    .header__container {
        padding: 13px 2px;
    }

    // =====HERO SECTION=========
    .hero__title {
        font-size: 30px;
    }

    // ABOUT US SECTION
    .about__description h2 {
        font-size: 1.3rem;
    }
    .about__description p {
        font-size: 0.6rem;
    }
    .about__description span {
        font-size: 0.6rem;
    }
    .about__description a {
        font-size: 0.6rem;
    }

    // ROOM SECTION 
    .room__desc__text h3 {
        font-size: 1.3rem;
    }
    .rooms__title h2 {
        font-size: 1.5rem;
    }
    .room__btn {
        padding: 0.5rem 1rem;
        text-align: center;
    }
    .room__card {
        max-width: 200px;
        
    }
    .room__image {
        max-height: 150px;
        max-width: 200px;
        -o-object-fit: contain;
           object-fit: contain;
    }

    // ACCOMMODATION SECTION
    .accomm__title span {
        font-size: 0.4rem;
    }
    .accomm__title h3 {
        font-size: 1.3rem;
    }
    .accomm__icon {
        padding: 1.5rem;
        font-size: 1.5rem;
    }
    .accomm__desc h4 {
        font-size: 1rem;

    }
    .accomm__desc p {
        font-size: 0.8rem;
    }


    
// ===============================================================================
// ============ABOUT US HTML RESPONSIVE============================
// =====================================================================

// =======================ABOUT US  - VALUES SECTION==================
    .values__desc h3 {
        font-size: 1rem;
    }

    .values__desc p {
        font-size: 0.5rem;
    }
    .values__icon {
        font-size: 1.5rem;
    }
    .values__title h2 {
        font-size: 1.2rem;
    }
    .values__title span {
        font-size: 0.5rem;
    }

    // STAFF SECTION

    .staff__title h3 {
        font-size: 1.4rem;
    }
    .staff__title span {
        font-size: 0.6rem;
    }

    .staff__info span {
        font-size: 0.6rem;
    }

    // ====================PREMIUM SECTION======================
      .premium__container {
        max-width: 220px;
        padding: 1rem;
        
      }

      .premium__content h4 {
        font-size: 0.9rem;
      }
      .premium__buttons {
        padding: 0.3rem;
        width: 100%;
      }

    //  ================== CONTACT FORM ================
    .input__field label {
        font-size: 8px;
        
    }
    .input__field select {
        font-size: 8px;
        text-wrap: wrap;
    }
    .subject__label {
        display: none;
        
    }
    
    .submit__btn {
        font-size: 8px;
    }
    .contact__title {
        font-size: 1.2rem;
        font-weight: bold;
    }
    .social__icons {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 1rem;
    }
    

    // COMFORT SECTION
    .comfort__icons {
        -ms-grid-rows: minmax(0,1fr) 12px minmax(0,1fr) 12px minmax(0,1fr) 12px minmax(0,1fr) 12px minmax(0,1fr) 12px minmax(0,1fr);
        grid-template-rows: repeat(6,minmax(0,1fr));
        gap: 12px;
        
    }
    .comfort__icon {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}